<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!--配置代码高亮插件-->
	<configSections>
		<section name="codeHighlighter" requirePermission="false" type="ActiproSoftware.CodeHighlighter.CodeHighlighterConfigurationSectionHandler, ActiproSoftware.CodeHighlighter.Net20"/>
	</configSections>
	<appSettings>
		<!--设置system目录的相对路径,请相对于web.config文件所在的目录(设置这个属性以后,该虚拟目录下所有级别目录页面的控件调用都不用单独设置systemfolder属性,方便项目的整体调用)-->
		<add key="systemfolder" value="system_dntb/"/>
		<!--设置皮肤目录的相对路径,请相对于system目录(设置这个属性以后,该虚拟目录下所有级别目录页面的控件调用都不用单独设置skin属性,方便项目的整体调用)-->
		<add key="skin" value="skin/default/"/>
	</appSettings>
	<system.web>
		<anonymousIdentification enabled="true"/>
		<compilation defaultLanguage="C#">
			<assemblies>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--设置上传单个文件的最大Size-->
		<httpRuntime maxRequestLength="10240" executionTimeout="3600"/>
		<!--设置启用js脚本的服务端Gzip压缩-->
		<httpModules>
			<add name="WebResourceCompression" type="WebResourceCompression.WebResourceCompressionModule"/>
		</httpModules>
	</system.web>
	<!--定义代码高亮插件-->
	<codeHighlighter>
		<cache languageTimeout="3"/>
		<keywordLinking enabled="true" target="_blank" defaultKeywordCollectionKey="ActiproKeywords">
			<keywordCollection key="ActiproKeywords">
				<explicitKeyword tokenKey="IdentifierToken" patternValue="Actipro" url="http://www.actiprosoftware.com" caseSensitive="false"/>
				<explicitKeyword tokenKey="IdentifierToken" patternValue="CodeHighlighter" url="http://www.codehighlighter.com" caseSensitive="false"/>
			</keywordCollection>
		</keywordLinking>
		<languages>
			<language key="Assembly" definitionPath="~/system_dntb/Lexers/ActiproSoftware.Assembly.xml"/>
			<language key="BatchFile" definitionPath="~/system_dntb/Lexers/ActiproSoftware.BatchFile.xml"/>
			<language key="C#" definitionPath="~/system_dntb/Lexers/ActiproSoftware.CSharp.xml"/>
			<language key="CSS" definitionPath="~/system_dntb/Lexers/ActiproSoftware.CSS.xml"/>
			<language key="HTML" definitionPath="~/system_dntb/Lexers/ActiproSoftware.HTML.xml"/>
			<language key="INIFile" definitionPath="~/system_dntb/Lexers/ActiproSoftware.INIFile.xml"/>
			<language key="Java" definitionPath="~/system_dntb/Lexers/ActiproSoftware.Java.xml"/>
			<language key="JScript" definitionPath="~/system_dntb/Lexers/ActiproSoftware.JScript.xml"/>
			<language key="Lua" definitionPath="~/system_dntb/Lexers/ActiproSoftware.Lua.xml"/>
			<language key="MSIL" definitionPath="~/system_dntb/Lexers/ActiproSoftware.MSIL.xml"/>
			<language key="Pascal" definitionPath="~/system_dntb/Lexers/ActiproSoftware.Pascal.xml"/>
			<language key="Perl" definitionPath="~/system_dntb/Lexers/ActiproSoftware.Perl.xml"/>
			<language key="PHP" definitionPath="~/system_dntb/Lexers/ActiproSoftware.PHP.xml"/>
			<language key="PowerShell" definitionPath="~/system_dntb/Lexers/ActiproSoftware.PowerShell.xml"/>
			<language key="Python" definitionPath="~/system_dntb/Lexers/ActiproSoftware.Python.xml"/>
			<language key="SQL" definitionPath="~/system_dntb/Lexers/ActiproSoftware.SQL.xml"/>
			<language key="VB.NET" definitionPath="~/system_dntb/Lexers/ActiproSoftware.VBDotNet.xml"/>
			<language key="VBScript" definitionPath="~/system_dntb/Lexers/ActiproSoftware.VBScript.xml"/>
			<language key="XAML" definitionPath="~/system_dntb/Lexers/ActiproSoftware.XAML.xml"/>
			<language key="XML" definitionPath="~/system_dntb/Lexers/ActiproSoftware.XML.xml"/>
		</languages>
		<lineNumberMargin foreColor="Teal" paddingCharacter=" " visible="true"/>
		<outlining enabled="true" imagesPath="~/system_dntb/OutliningIndicators/"/>
		<spacesInTabs count="4"/>
	</codeHighlighter>
</configuration>
