<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<!--设置system目录的相对路径,请相对于web.config文件所在的目录(设置这个属性以后,该虚拟目录下所有级别目录页面的控件调用都不用单独设置systemfolder属性,方便项目的整体调用)-->
		<add key="systemfolder" value="system_dntb/"/>
		<!--设置皮肤目录的相对路径,请相对于system目录(设置这个属性以后,该虚拟目录下所有级别目录页面的控件调用都不用单独设置skin属性,方便项目的整体调用)-->
		<add key="skin" value="skin/xp/"/>
	</appSettings>
	<system.web>
		<anonymousIdentification enabled="true"/>
		<compilation defaultLanguage="C#">
			<assemblies>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--设置上传单个文件的最大Size-->
		<httpRuntime maxRequestLength="10240" executionTimeout="3600"/>
		<!--设置启用js脚本的服务端Gzip压缩-->
		<httpModules>
			<add name="WebResourceCompression" type="WebResourceCompression.WebResourceCompressionModule"/>
		</httpModules>
	</system.web>
</configuration>
